<app-header titulo="PRODUCTOS"></app-header>

<ion-content>

  <ion-slides pager="true">
    <ion-slide *ngFor="let p of products | async">

      <ion-card (click)="sonido_desproducto(p)">
        <ion-img [src]="p.imgURL"></ion-img>
        <ion-card-header>
          <ion-card-title>{{p.product}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{p.description}}
        </ion-card-content>
      </ion-card>

    </ion-slide>
  </ion-slides>

</ion-content>

<app-footer></app-footer>