<app-header titulo="PRODUCTOS"></app-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let p of products | async" size="6">

        <ion-card (click)="sonido_desproducto(p)">
          <ion-img src="/assets/headerProductos.png"></ion-img>
          <ion-img [src]="p.imgURL"></ion-img>
          <ion-card-header>
            <ion-card-title>{{p.product}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem iste eligendi alias a ducimus voluptatum harum, laboriosam nihil excepturi accusantium! Nemo animi aliquid totam fugit ipsum ea. Tenetur, sit incidunt!
          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer></app-footer>
</ion-content>