<app-header titulo="COMPAÑÍA"></app-header>

<ion-content>
  <ion-img alt="imagen_Compañía" src="assets/agriculturaPanoramica.jpg"></ion-img>

  <ion-card *ngFor="let c of company | async">

    <ion-card-header>
      <ion-item>

        <ion-icon [name]="c.icon" slot="end"></ion-icon>
        <ion-title>{{c.section}}</ion-title>

      </ion-item>
    </ion-card-header>

    <ion-card-content>
      {{c.description}}
    </ion-card-content>
    <img [src]="c.image" class="dimImagen"/>
  </ion-card>
  
</ion-content>

<app-footer></app-footer>